@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme' with ($theme: themes.$g10);
@use '@carbon/react';

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.globalHeader {
  -webkit-app-region: drag;
}

.pageContent {
  padding-top: 75px;
}

.buttonIcon {
  padding-right: 10px;
}

.formGroup {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}